body{
     background-image: url("https://i.scdn.co/image/ab67616d0000b2739f8a967f3887fad65477605f");
    background-repeat:no-repeat;
    background-size: cover;
}
.copyright_footer{
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    font-size: 10px;
    background-color:grey;
    line-height:3;
    text-align:center;
    text-shadow: 3px 3px 3px rgb(250, 254, 255);
}